div {
  border: 10px solid blue;
}
body {
  position: relative;
}

#title {
  color: green;
}

#image1 {
  padding: 30px;
}

#absolute-text {
  position: absolute;
  top: 200;
  left: 300;
}
