/* .flex-container {
  display: flex;
  flex: 1;
  /* border: black 2px solid; */
/* flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%; */
/* flex-direction: column;
  justify-content: space-evenly; */
/* align-items: center;
} */

/* .flex_child {
  display: flex;
  border: green 2px solid;
  flex-basis: 20%;
  /* height: 20px; */
/* } */

* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;
}

.flex-container {
  border: 5px solid black;
  display: flex;

  flex-wrap: wrap;
  height: 100%;
  align-content: flex-end;
}

.flex_child {
  border: 2px solid red;
  flex-basis: 20%;
  margin: 5px;
}

.flex_child:nth-child(1) {
  background-color: yellow;
}

.flex_child:nth-child(2) {
  background-color: red;
}
.flex_child:nth-child(3) {
  background-color: blue;
}
.flex_child:nth-child(4) {
  background-color: purple;
}

.flex_child:nth-child(5) {
  background-color: yellow;
}

.flex_child:nth-child(6) {
  background-color: red;
}
.flex_child:nth-child(6) {
  background-color: blue;
}
.flex_child:nth-child(7) {
  background-color: purple;
}
.flex_child:nth-child(8) {
  background-color: yellow;
}
.flex_child:nth-child(9) {
  background-color: red;
}
.flex_child:nth-child(10) {
  background-color: blue;
}
