.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row;
  background-color: lightblue;
}

.navbar:first-child {
  justify-content: flex-start;
}
button {
  margin: 10px;
}
@media screen and (min-width: 400px) {
  .navbar {
    flex-flow: column;
  }
}
@media screen and (min-width: 800px) {
  .navbar {
    flex-flow: row;
  }
}
